<p>experience_id <%= @student.experience_id %></p>
<p>education_id <%= @student.education_id %></p>
<p>capstone_id <%= @student.capstone_id %></p>
<p>first_name <%= @student.first_name %></p>
<p>last_name <%= @student.last_name %></p>
<p>email <%= @student.email %></p>
<p>phone_number <%= @student.phone_number %></p>
<p>short_bio <%= @student.short_bio %></p>
<p>linkedin_url <%= @student.linkedin_url %></p>
<p>twitter_handle <%= @student.twitter_handle %></p>
<p>wordpress_url <%= @student.wordpress_url %></p>
<p>resume_url <%= @student.resume_url %></p>
<p>github_url <%= @student.github_url %></p>
<p>photo <%= @student.photo %></p>


<p>
  <%= link_to "Delete this Info", "/resumes/#{@resume.student_id}", method: :delete %>
</p>